# Project exclude paths
/Fallen Kingdoms Core/target/
/Fallen Kingdoms CutClean/target/
/Fallen Kingdoms Loots/target/
/Fallen Kingdoms Protections/target/
/Fallen Kingdoms Restrictions/target/
/Fallen Kingdoms Spawners/target/